#Git and venv files - 
.gitignore
.git/
__pycache__/
env/

#Docker files - 
.dockerignore
.Dockerfile*

#DB file - 
db/*.db

#Other files not to be included - 
/images-for-readme
README.md
db_structure
vev-instructions.md