{% extends "index.html" %}


{% block static_html_content %}
<p>Hello, </p>

<p>The Storage System is my first project in Python. </p>
<p>It is built with Falsk (and django) and is supossed to be a functional storage system for small businesses or organizations. </p>
<p>You can feel free to use it for studying, business or any other use. BE AWARE THAT NO GUARNETEE IS GIVEN. Any use of this application is at your own risk. </p>

<br />

<p>
	You can view the original GitHub repository <a href="https://github.com/idan441/storage_flask_python" target="_blank">here</a> . 
</p>


<br />


<p>Best regards, <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Idan. </p>
{% endblock %}