<!DOCTYPE html>
<html>
	<head>
		<title>Storage application</title>

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body>

		<div class="header">
			<h1>Storage system: </h1>
			<div id="hyper_box">
				{% if session['u_id'] %}
				Hello {{ session['d_name'] }} | <a href="/logout">Logout</a>
				{% else %}
				<a href="/login">Not connecteed | Click here to login</a>
				{% endif %}
			</div>
		</div>

		<div class="menu">

			<div>
				<h4>General: </h4>
				<ul>
					<li><a href="/">Main page</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>

			<div>
				<h4>Actions: </h4>
				<ul>
					<li><a href="/warehouse">Warehouses</a></li>
					<li><a href="/items">Items</a></li>
					<li><a href="/users">Users</a></li>
					<li><a href="/traders">Traders</a></li>
					<li><a href="/transactions">Transactions</a></li>
				</ul>
			</div>

			<div>
				<h4>Reports: </h4>
				<ul>
					<li><a href="/reports/storage">Storage report</a></li>
					<li><a href="/reports/active_suppliers">Active suppliers report</a></li>
					<li><a href="/reports/transactions_by_trader">Transactions by trader</a></li>
					<li><a href="/reports/transactions_by_item">Transactions by item</a></li>
				</ul>
			</div>

			<div>
				<h4>Miscellaneus:</h4>
				<ul>
					<li><a href="/about">About</a></li>
					<li><a href="/help">Help</a></li>
					<li><a href="/backup">Backup</a></li>
				</ul>
			</div>

		</div>




	<div class="main">

		{% if message is defined %}
			<div id="message_box">
			{{ message|safe }}
			</div>
		{% endif %}


		{% if warning is defined %}
			<div id="warning_box">
			{{ warning|safe }}
			</div>
		{% endif %}
		
		{% if page_title is defined %}
		<h2>{{ page_title }}</h2>
		{% endif %}

		<div>
			{% if content is defined %}
			{{ content|safe }}
			{% endif %}
		</div>

		{% block static_html_content %}
		{% endblock %}
	</div>


	</body>
</html>