 <!DOCTYPE html>
<html>
	<head>
		<title>Storage application - Login page</title>

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body>


	<h1>Storage system: </h1>


	{% if page_title is defined %}
	<h2>{{ page_title }}</h2>
	{% endif %}



<h1>Login: </h1>
	{% if message is defined %}
		<div style="background-color:green;color:white;">
		{{ message|safe }}
		</div>
	{% endif %}

	{% if warning is defined %}
		<div style="background-color:red;color:white;">
		{{ warning|safe }}
		</div>
	{% endif %}

	<div>
		<form action="/login" method="post">
			<table>
				<tr><td>Username: </td><td><input type="text" name="username" /></td></tr>
				<tr><td>Password: </td><td><input type="password" name="password" /></td></tr>
				<tr><td colspan="2"><input type="submit" value="Login" /></td></tr>
			</table>
		</form>
	</div>


	</body>
</html> 